# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Env
.env
*.env

# Alembic
alembic/versions/*.pyc

# Node
node_modules/
dist/
*.log

# IDE
.vscode/
.idea/

# Media
Media/*
!Media/.gitkeep

# ignore archives
*.zip
project.zip

# ignore archives
*.zip
project.zip
